.editorconfig
.git*
.htmlhintrc
.prettierrc
.stylelintrc
.eslinttrc
.svgorc
.vscode
.env
CHANGELOG.md
README.md
builds
coverage
e2e
node_modules
proxy.conf.js
raml
build/
.svelte-kit
database/
server/database
server/.env
server/node_modules
./database
server/connect-session-knex.sqlite
server/node_modules