:root {
	font-family: 'Josefin Sans', cwtexyen, sans-serif;
	--primary-color: #6A8A73;
	--accent-color: #b1bbbc;
	--text-color: #444444;
	--column-width: 42rem;
	--column-margin-top: 4rem;
	--header-height: 50px;
}

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

html,
body {
	height: 100%;
}

body {
	min-height: 100vh;
	box-sizing: border-box;
	margin: 0;
	font-family: 'Josefin Sans', cwtexyen, sans-serif;
	font-size: 100%;
	line-height: 1.5;
}

html,
body,
div,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
ol,
ul,
li,
form,
legend,
label,
table,
header,
footer,
nav,
section,
figure {
	margin: 0;
	padding: 0;
}

header,
footer,
nav,
section,
article,
hgroup,
figure {
	display: block;
}

h1,
h2,
p {
	font-weight: 400;
	color: var(--text-color);
}

p {
	line-height: 1.5;
}

a {
	color: var(--accent-color);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	opacity: 0.7;
}

h1 {
	font-size: 2rem;
	margin-bottom: 0 0 1em 0;
	text-align: center;
}

h2 {
	font-size: 1rem;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--text-color);
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}

code {
	font-family: menlo, inconsolata, monospace;
	font-size: calc(1em - 2px);
	color: #555;
	background-color: #f0f0f0;
	padding: 0.2em 0.4em;
	border-radius: 2px;
}

@media (min-width: 400px) {
	body {
		font-size: 16px;
	}
}

.error {
	color: red;
}

.success {
	color: lightgreen;
}

.btn {
	cursor: pointer;
	width: 100%;
	border: none;
	color: #fff;
	transition: 1px ease-in;
	padding: 15px;
	border-radius: 5px;
	font-family: 'Josefin Sans', cwtexyen, sans-serif;
	background: #b1bbbc;
}

.btn:hover,
.btn:focus {
	opacity: 0.7;
}

.btn:disabled {
	opacity: 0.2;
}

#svelte {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	max-width: 1024px;
	padding: 0 1rem;
}

.container:after {
	content: '';
	display: table;
	clear: both;
}

.hero {
	background: #fff;
	background-size: cover;
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	height: var(--header-height);
	z-index: 10;
}

.hero:after {
	content: '';
	background: var(--primary-color);
	box-shadow: 0px 1px 18px var(--primary-color);
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
}

.hero * {
	position: relative;
	z-index: 1;
}
