:root {
	font-family: 'Nunito', sans-serif;
	--primary-color: #000;
	--secondary-color: #b1bbbc;
	--text-color: #444444;
	--text-color-header: #fff;
	--header-height: 35px;
}


.dark {
	font-family: 'Nunito', sans-serif;
	--primary-color: #fff;
	--secondary-color: #b1bbbc;
	--text-color: #444444;
	--text-color-header: #000;
	--header-height: 35px;
}